<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Collab by Code</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

<body>
  <br> Hello:
  <br>
  Its a great pleasure welcoming you to Collab by Code.
  <br>
  You start your journey by visiting:
  <br>

  <ul>
    <li>https://github.com/kameshsampath/collab-by-code-api</li>
    <li>https://github.com/kameshsampath/collab-by-code-ui</li>
  </ul>

  <br>
  Best Regards,<br>

  Collab by Code Team
  <br>
  <br>
  <br>
  <br>
  <br>
  <strong><u>IMPORTANT</u></strong>: Please do not reply to this email. This email is an automated notification, which
  is
  unable to receive replies.
  <br>
  <br>
  <br>
  <b>Disclaimer</b>: This communication is confidential and privileged and is directed to and for use of the addressee
  only.The recipient if not the addressee should not use this message if erroneously received,
  and access and use of this e-mail in any manner by anyone other than the addressee is unauthorized.
  The recipient acknowledges that Red Hat may be unable to exercise control or ensure or guarantee the integrity of the
  text of the email message and the text is not warranted as to completeness and accuracy.
</body>

</html>