Hello,
<br>
<br>
Thank you for participating in Collaborate by Code, powered by Red Hat. It was great meeting you at our booth at Grace
Hopper and we hope you enjoyed this activity! Feel free to share your photo on social media and make sure you add
#CollaborateByCode and #GHC18.
<br>
<br>
Interested in reviewing or contributing to the code? The project is available on the Red Hat Official GitHub.
<ul>
  <li>https://github.com/RedHatOfficial/collab-by-code-ui</li>
  <li>https://github.com/RedHatOfficial/collab-by-code-api</li>
</ul>
<br>
<br>

Best,
<br>

Red Hat team
<br>
<br>
<br>
<br>
<strong><u>IMPORTANT</u></strong>: Please do not reply to this email. This email is an automated notification, which is
unable to receive replies.